body {
  color: white;
  font-family: 'Lucida Grande', Helvetica, sans-serif; 
  font-weight: 300;
  overflow: hidden;
}

#special:hover{
  -webkit-filter: blur(5px);
}

#second {
  display: none;
}

#transition{
  background: url('http://i.imgur.com/9zpA4vd.jpg');
  width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  z-index: -1;
  display: none;
}

#logo{
  background: url('http://i.imgur.com/RzcWxMa.png?1');
  margin-top: 2000px;
}

#twit > a, #linked > a, #git > a, #mail > a, #resume > a {
  color: #AAA;
}

#twit{
  margin-top: 2000px;
  display: inline-block;
  position: absolute;
  margin-left: 50px;
}

#linked{
  margin-top: 2000px;
  display: inline-block;
  position: absolute;
  margin-left: 150px;
}

#git{
  margin-top: 2000px;
  display: inline-block;
  position: absolute;
  margin-left: -150px;
}

#mail{
  margin-top: 2000px;
  display: inline-block;
  position: absolute;
  margin-left: -50px;
}

#resume{
	margin-top: 2000px;
	display: inline-block;
	position: absolute;
	margin-left: -250px;
}

#moving {
font-size: 25px;
color: rgba(0,0,0, .7);
display: none;
margin-top: 100px;
}

h1{
  margin: -10px;
  font-size: 100px;
  font-family: 'Lato', sans-serif;
  display: none;
  color: rgba(0,0,0, .7);
}

a {
  color: white;
  text-decoration: none;
margin: 20px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
    display: none;
    margin: 0;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
    width: 100%;   }
    
    h1 {
      font-size: 3rem;   }
      #resume {
        height: 6rem;
        max-width: 30rem;
	 }
	 
	#mail {
        height: 6rem;
        max-width: 30rem;
	 }
	 
	 #git {
        height: 6rem;
        max-width: 30rem;
	 }
	 
	 #linked {
        height: 6rem;
        max-width: 30rem;
	 }
	 
	 #twit {
        height: 6rem;
        max-width: 30rem;
	 }

     #logo {
     	top: 1rem;
     	max-width: 60rem;
     	max-height: 60rem;
     }
}

@media only screen and (max-height: 320px) {
  #logo {
    top: 1rem;   }
}
