body {
  color: #777777;
  font-family: 'Lucida Grande', Helvetica, sans-serif; 
  font-weight: 100;
  /*overflow: hidden;*/
}
#changer{
  background: #222222;
}
.social{
  z-index: 0;
  position:fixed;
  top: 0;
  display: block;
  font-size: .9em;
  padding: 1rem;
  text-align: center;
}

img{
  margin-top: 10%;
}
img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 4.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300px;
  color: rgba(250,250,250, .5);
  z-index: 100;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  text-align: center;
}

#special:hover{
  -webkit-filter: blur(.5em);
}

#second {
  display: none;
}

#transition{
  /*background: url('http://i.imgur.com/9zpA4vd.jpg');*/
  background-color: #000000;
  background-size: cover;
  width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  z-index: -1;
  display: none;
}

#twit > a, #linked > a, #git > a, #mail > a, #resume > a {
  color: white;
  margin:auto 1rem auto;
}

#twit:hover, #linked:hover, #git:hover, #mail:hover, #resume:hover {
  -webkit-filter: blur(2px);
}


@media only screen and (max-width: 380px) {
  .social {
    font-size: 3rem;
    padding: 1.2vw 1.4vh;
    margin: .5rem 1.4rem;
    display: block;
    text-align: center;
  }
  li{
    font-size: 3rem;
  }

  img{
    margin-top: 5%;
    width: 100vw;
  }
    
  h1 {
    font-size: 5.3rem;
    text-align: center;
    }

}
