html {
    font-family: 'Helvetica 45 Light';
    color: #424347;

    line-height: 1.618em;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(216,19,138,.8),rgba(65,105,225,.8)),url("http://jessica.is/assets/imgs/pattern.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.contain{
  height: 100%;
  margin: 0;
  padding: 0;
}

hr {
    border: solid #fff;
    opacity: .4;
    border-width: 5px 0 0;
    clear: both;
    height: 0;
    margin: 16px auto 12px;
    width: 20px;
}
.grid {
  margin: 0;
  padding: 0;
 top: 70%;
 background: blue;
 position: relative;
}

.showcase {
    height: 400px;
    background-position: center;
    background: #272734;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    overflow: hidden;
}

.splash {
  top: 0;
  left: 0;
  background-image: url('/static/images/header.jpg');
  height: 70%;
  position: absolute;
  width: 100%;
  background-position: center top;
}

.splash-header{
  font-family: 'Circular Air Book';
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 3.5rem;
  font-weight: 600;
  z-index: 3;
  text-transform: uppercase;
  color: white;
  border: solid medium white;
  padding: .5em;
}

.splash-overlay {
  top: 0;
  left: 0;
  background: rgba(123, 23, 121, 0.8);
  height: 70%;
  position: absolute;
  width: 100%;
  background-position: center top;
}

[class*='col-'] {
  float: left;
  position: relative;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-3-3 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.content{
  top: 70%;
  left: 0;
  height: auto;
  position: absolute;
  width: 100%;
  background: rgb(0,0,0)
}

.text {
  display: block;
  text-align: left;
  width: 80%;

}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
}

.funcolor{
  background: green;
}

.box-content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.small-1 {
  width: 33%;
  left: 0;
  float: left;
  background: pink;
}

.small-2 {
  width: 33%;
  left: 33%;
  background: green;
}

.small-3 {
  width: 34%;
  left: 66%;
  background: yellow;
}

.small-1,.small-2,.small-3 {
  position: absolute;
  padding: 5em 0;
}

.medium-1 {
  position: absolute;
  height: 100%;
  width: 66%;
  left: 0;
  float: left;
}

.medium-2 {
  position: absolute;
  height: 100%;
  width: 66%;
  left: 33%;
  float: right;
}
