{% extends "page_layout.html" %}
{% block results %}
<div id="extras">
{% if info %}
  {% for heading in info['headings'] %}
    {% if heading['title'] == 'extras' %}
      <h2 class="page_heading"><i class="fa fa-heart-o"></i></h2>

      <h3 class="subheading"><strong>{</strong>passions<strong>}</strong></h3>      
        <p>I care about organizations and people trying to make the world a better place!</p>
        <p>If you are in NYC, <a id="para_link" href="mailto:eunicekokor@gmail.com?subject=Hey Eunice. Let's get coffee!">grab coffee</a> with me! I love learning new things about people from all walks of life and experiences.</p>

        <h1 class="inline-header"> Poems </h1><small> I write </small>
        <p>coming soon. <small><strong><a id = "para_link" class="inline-header" href="https://medium.com/@eunicekokor/i-just-can-t-breathe-23084fac66f4"> here's one in the meantime! </a></small></strong></p>

        <h1 class="inline-header"> Organizations </h1><small>I love </small>
        
        <div class="organization_group"><p class="organization_list adi"> Application Development Initiative<p class="organization_detail adi">A group of students at Columbia working to strengthen the technical community on campus through workshops, mentorship opportunities, and more! I did a ton of social media oversight as well as event + program planning</p></p> </div>
        
        <div class="organization_group"><p class="organization_list she"> She++ College Ambassadors <p class="organization_detail she">More technology puns! This is an awesome group working towards inclusivity in all realms of tech, especially within our university's Computer Science Departments. I was the Columbia Ambassador for a year and got to meet other women and people working towards reaching out for the goal of equal opportunity and support in our education.</p></p></div>
        
        <div class="organization_group"><p class="organization_list code">Code2040 Fellows Program <p class="organization_detail code">I had the most incredible opportunity to be immersed within the technology sphere in Silicon Valley surrounded by Black and Latinx founders, engineers, friends, and role models. I couldn't trade the experience for anything else!</p></p></div>
    {% endif %}
  {% endfor %}
{% else %}
  <p> error in loading page </p>
{% endif %}
</div>
{% endblock %}