{% extends "page_layout.html" %}
{% block results %}
<div id="extras">
{% if info %}
  {% for heading in info['headings'] %}
    {% if heading['title'] == 'extras' %}
      <h2 class="page_heading"><i class="fa fa-heart-o"></i></h2>

      <h3 class="subheading"><strong>{</strong>passions<strong>}</strong></h3>      
      <p></p>
        <p>I care about organizations and people trying to make the world a better place!</p>
        <p>If you are in NYC, <a id="para_link" href="mailto:eunicekokor@gmail.com?subject=Hey Eunice. Let's get coffee!">grab coffee</a> with me! I love learning new things about people from all walks of life and experiences.</p>

        <h1> Poems </h1><small> That I write </small>
        <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@eunicekokor/i-just-can-t-breathe-23084fac66f4">I just can’t breathe</a>

        <h1> Music</h1><small> That I listen to </small>
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/159641961&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    {% endif %}
  {% endfor %}
{% else %}
  <p> error in loading page </p>
{% endif %}
</div>
{% endblock %}