{% include "base.html" %}
<div id = "box3"></div>
<div id = "box4"></div>
<center>
<div class = "nav">
    {% if info %}
      <ul id="nav">
          {% for heading in info['headings'] %}
            {% if heading['title'] == info['current'] %}
              <li class="nav-item active"><a href="/{{heading['title']}}">
            {{heading['title']}}</a>
              </li>
            {% else %}
          <li class="nav-item"><a href="/{{heading['title']}}">
            {{heading['title']}}</a>
          </li>
            {% endif %}
          {% endfor %}
      </ul>
    {% else %}
      <p> error in loading nav </p>
    {% endif %}
</div>

<div class="page_content main">
  {% block results %} {% endblock %}
</div>
{% if info['current'] == 'projects' %}
  <!-- <div class="overlay"></div> -->
{% endif %}

<div class="footer"></div>
</center>