{% extends "page_layout.html" %}


{% block results %}

<div id="projects">
{% if info %}
  {% for heading in info['headings'] %}
    {% if heading['title'] == 'projects' %}
      <h2>{{heading['title']}}</h2><h3><strong>{</strong>{{heading['subheading']}}<strong>}</strong></h3>      
      <p></p>
      <p>I used to <a id="para_link" href="http://creo.ptc.com/2012/03/29/desktopengineering-first-robotic-tales-buchannan-bird-brains-raises-a-fish/">
          build robots</a> and learned about <a href="https://youtu.be/I858fxb3PYc?t=52" id="para_link"> product design and development</a> in the process, using <a id="para_link" href="https://www.ptcusercommunity.com/photoAlbums/1137">professional tools</a> to solve engineering problems.</p>
        <p>I now build things (and work on teams to build things), product first:
        <a id ="para_link" href ="http://www.github.com/eunicekokor"><i class="fa fa-github-square"></i> Github Page </a></p>
        <p> Here are a couple screenshots of my front-end works and some Photoshop marketing images </p>
        <div id="multiple_pics">
          <p id="para">First Hackathon Project March 2014 @ <a id="para_link" href="https://twitter.com/search?q=%23nsbe40hack&src=typd">#NSBE40Hack</a> Used: Bootstrap Flask, JavaScript, Google + Yelp APIs</p>
          <img id="pic" title="nsbe (first ever!) hackathon project" src="/static/images/projects/hairsos.png"></img>
          <p id="para">This website <a id="para_link" href="http://www.eunico.de">eunico.de</a> (Always a work in progress!) If something isn't working, <a id="para_link" href="https://github.com/eunicekokor/eunicekokor.github.io/issues/new">File an issue!</a> Used: Flask, JQuery</p>
          <img id="pic" title="this website!" src="/static/images/projects/web-logo.png"></img>
          <p id="para"> Social Media Banner for <a id="para_link" href="http://www.mbaodyssey.com/">MBA Odyssey Organization</a> Used: Photoshop</p>
          <img id="pic" title="mba odyssey social media presence" src="/static/images/projects/mbaod.png"></img>
          <p id="para"> Social Media Banners for <a id="para_link" href="https://www.facebook.com/ADICU"> Application Development Initiative Social Pages</a> Used: Photoshop</p>
          <img title="promotional material for Application Development Initiative" id="pic" src="/static/images/projects/design.png"></img>
          <img title="promotional material for Application Development Initiative" id="pic" src="/static/images/projects/powered.png"></img>
          <img title="promotional material for Application Development Initiative" id="pic" src="/static/images/projects/ebentalk.png"></img>
          <img title="promotional material for Application Development Initiative" id="pic" src="/static/images/projects/opensource.png"></img>
          <img title="promotional material for Application Development Initiative" id="pic" src="/static/images/projects/droptalk.png"></img>
        </p>
    {% endif %}
  {% endfor %}
{% else %}
  <p> error in loading page </p>
{% endif %}
</div>

{% endblock %}