{% extends "page_layout.html" %}


{% block results %}

<div id="projects">
{% if info %}
  {% for heading in info['headings'] %}
    {% if heading['title'] == 'projects' %}

      <h2 class="page_heading">{{heading['title']}}</h2>
      <h3 class="subheading"><strong>{</strong>{{heading['subheading']}}<strong>}</strong></h3>

      <p>I used to <a id="para_link" href="http://creo.ptc.com/2012/03/29/desktopengineering-first-robotic-tales-buchannan-bird-brains-raises-a-fish/">
          build robots</a> and learned about <a href="https://youtu.be/I858fxb3PYc?t=52" id="para_link"> product design and development</a> in the process, using <a id="para_link" href="https://www.ptcusercommunity.com/photoAlbums/1137">professional tools</a> to solve engineering problems.</p>
        <div>I now build things (and work on teams to build things), product first.
<!--         <a id ="para_link" href ="http://www.github.com/eunicekokor"><i class="fa fa-github"></i> Github Page </a></div>
 -->        <div class="grid">
          {% for project in projects.project_list %}
            <div class="projects-feature grid-pad">
              <!-- Sidebar | Image -->

              <!-- Main Feature | Text -->
              <div class="col">
              <div class="col-2-3 projects-info">
                <span style="display: inline;"><p class="proj-title" style="display:inline" id="{{project.title}}"><strong><b>{{project.title}}</b></strong></p>
                {% if project.urls.link %}
                    <a target="_blank" href="{{project.urls.link}}"><i class="fa fa-external-link"></i></a>
                  {% endif %}
                  {% if project.urls.github %}
                    <a target="_blank" href="{{project.urls.github}}"><i class="fa fa-github"></i></a>
                  {% endif %}</span>
                <p>{{project.description}}</p>
                  <div class="languages">
                  {% for lang in project.languages %}
                    <span class="projects-lang">{{ lang }}</span>
                  {% endfor %}
                  </div>
              </div>
              <img class="col-1-3 projects-feature-img" src="{{project.urls.img}}"></img>
            </div></div>
          {% endfor %}
        </div>

    {% endif %}
  {% endfor %}
{% else %}
  <p> error in loading page </p>
{% endif %}
</div>

{% endblock %}
